<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>蛇狼独立領　ユーザー作成</title>
    {% load static %}
    <link rel="stylesheet" href="{% static stylesheet.0.get_path %}" />
    <link rel="stylesheet" href="{% static stylesheet.4.get_path %}" />
    <link rel="stylesheet" href="{% static 'pywolf/jquery-ui-1.12.1/jquery-ui.min.css' %}" />
    <script src="{% static 'pywolf/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'pywolf/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script src="{% static 'pywolf/jquery-ui-1.12.1/datepicker-ja.js' %}"></script>
</head>
<body>
<div>
    <a href="{% url 'pywolf:index' %}">トップページに戻る</a>

    {# ！！ちゃんとエラーメッセージ表示はやろう！！ #}
    {% for f in form %}
        {% if f.errors %}
    <div>{{f.label}}:{{f.errors.0}}</div>
        {% endif %}
    {% endfor %}

    <form action="{% url 'pywolf:confirm_create_user' %}" method="post">
        {% csrf_token %}
        <div class="container-main">
            <h2>基本設定</h2>
            <div><span class="left">{{form.id_view.label}}：</span><span>{{form.id_view}}</span></div>
            <div><span class="left">{{form.password.label}}：</span><span>{{form.password}}</span></div>
            <div><span class="left textarea_span">{{form.commentary.label}}：</span><span>{{form.commentary}}</span></div>
        </div>
        <button type="submit">ユーザーを作成する</button>
    </form>
</div>
</body>
</html>