<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>蛇狼独立領　村の作成</title>
    {% load static %}
    <link rel="stylesheet" href="{% static stylesheet.0.get_path %}" />
    <link rel="stylesheet" href="{% static stylesheet.4.get_path %}" />
    <link rel="stylesheet" href="{% static 'pywolf/jquery-ui-1.12.1/jquery-ui.min.css' %}" />
    <script src="{% static 'pywolf/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'pywolf/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script src="{% static 'pywolf/jquery-ui-1.12.1/datepicker-ja.js' %}"></script>
</head>
<body>
{% include 'pywolf/login_selectstyle.html' with V=999999 D=999999 %}
<div>
    <a href="{% url 'pywolf:index' %}">トップページに戻る</a>

    {# ！！ちゃんとエラーメッセージ表示はやろう！！ #}
    {% for f in form %}
        {% if f.errors %}
    <div>{{f.label}}:{{f.errors.0}}</div>
        {% endif %}
    {% endfor %}

    {% if not login_info.login_user %}
    <div>村の作成はログインをしてから行ってください。</div>
    {% endif %}

    <form action="{% url 'pywolf:confirm_create_village' %}" method="post">
        {% csrf_token %}
        <div class="container-main">
            <h2>基本設定</h2>
            <div><span class="left">{{form.village_name.label}}：</span><span>{{form.village_name}}</span></div>
            <div><span class="left textarea_span">{{form.description.label}}：</span><span>{{form.description}}</span></div>
            <div><span class="left">{{form.start_class.label}}：</span><span>{{form.start_class}}</span></div>
            <div><span class="left">{{form.lowest_number.label}}：</span><span>{{form.lowest_number}}</span></div>
            <div><span class="left">{{form.max_number.label}}：</span><span>{{form.max_number}}</span></div>
            <div><span class="left">{{form.into_password.label}}：</span><span>{{form.into_password}}</span></div>
            <div><span class="left">更新時間：</span>
                <span>{{form.update_time_hour}}<span>{{form.update_time_hour.label}}</span>
                    {{form.update_time_minute}}<span>{{form.update_time_minute.label}}</span></span>
            </div>
            <div><span class="left">{{form.update_interval.label}}：</span><span>{{form.update_interval}}</span></div>
            <div><span class="left">{{form.start_scheduled_date.label}}：</span><span>{{form.start_scheduled_date}}</span>{{form.start_scheduled_date.errors.0}}</div>
            <div><span class="left">{{form.voice_number_class.label | safe}}：</span><span>{{form.voice_number_class}}</span></div>
            <div><span class="left">{{form.chip_set.label}}：</span><span>{{form.chip_set}}</span></div>
            <div><span class="left">{{form.system_message.label}}：</span><span>{{form.system_message}}</span></div>
        </div>
        <div class="container-organization">
            <h2>編成</h2>
            <div><span class="left">{{form.organization_setting.label}}：</span><span>{{form.organization_setting}}</span></div>
            <!--<h3>カスタマイズ</h3>-->
            <!--<div><span class="left">役職：</span><span><select name="position1">-->
                <!--{% for p in position %}-->
                    <!--<option value="{{p.id}}">{{p.position_name}}</option>-->
                <!--{% endfor %}</select></span><span><input type="text" name="number"/>人</span></div>-->
            <!--<div><span class="left">役職：</span><span><select name="position2">-->
                <!--{% for p in position %}-->
                    <!--<option value="{{p.id}}">{{p.position_name}}</option>-->
                <!--{% endfor %}</select></span><span><input type="text" name="number"/>人</span></div>-->
            <!--<div><span class="left">役職：</span><span><select name="position3">-->
                <!--{% for p in position %}-->
                    <!--<option value="{{p.id}}">{{p.position_name}}</option>-->
                <!--{% endfor %}</select></span><span><input type="text" name="number"/>人</span></div>-->
            <!--<div><span><button onclick="">追加</button></span></div>-->
        </div>
        <div class="container-voice">
            <h2>発言設定</h2>
            <div><span class="left">{{form.voice_setting_set.label}}：</span><span>{{form.voice_setting_set}}</span></div>
            <!--<h3>カスタマイズ</h3>-->
            <!--<div><span class="left">通常発言</span><span><input type="text" name="voice_number_normal"/>回</span><span><input type="text" name="voice_point_normal"/>pt</span></div>-->
            <!--<div><span class="left"><input type="text" name="max_str_length"/>文字</span><span><input type="text" name="max_voice_point"/>pt</span></div>-->
            <!--<div><span class="left"><input type="checkbox" name="prologue_limit_off_flg_normal"/><label>プロローグでの発言を無制限にする</label></span></div>-->
            <!--<div><span class="left">ささやき</span><span><input type="text" name="voice_number_wolf"/>回</span><span><input type="text" name="voice_point_wolf"/>pt</span></div>-->
            <!--<div><span class="left"><input type="text" name="max_str_length"/>文字</span><span><input type="text" name="max_voice_point"/>pt</span></div>-->
            <!--<div><span class="left">独り言</span><span><input type="text" name="voice_number_self"/>回</span><span><input type="text" name="voice_point_self"/>pt</span></div>-->
            <!--<div><span class="left"><input type="text" name="max_str_length"/>文字</span><span><input type="text" name="max_voice_point"/>pt</span></div>-->
            <!--<div><span class="left"><input type="checkbox" name="prologue_limit_off_flg_wolf"/><label>プロローグでの発言を無制限にする</label></span></div>-->
            <!--<div><span class="left">墓下のうめき声</span><span><input type="text" name="voice_number_grave"/>回</span><span><input type="text" name="voice_number_grave"/>pt</span></div>-->
            <!--<div><span class="left"><input type="text" name="max_str_length"/>文字</span><span><input type="text" name="max_voice_point"/>pt</span></div>-->
            <!--<div><span class="left"><input type="checkbox" name="prologue_limit_off_flg"/><label>発言を無制限にする</label></span></div>-->
        </div>
        <button type="submit"
    {% if not login_info.login_user %}
                disabled
    {% endif %}
        >村を作成する</button>
    </form>
    <!-- カレンダー -->
    <script>
      $(function() {
          var dateFormat = 'yy-mm-dd';
          $('#id_start_scheduled_date').datepicker({
              dateFormat: dateFormat
          });
      });
    </script>
</div>
</body>
</html>