<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>蛇狼独立領</title>
    {% load static %}
    <link rel="stylesheet" href="{% static stylesheet.0.get_path %}" />
</head>
<body>
{% include 'pywolf/login_selectstyle.html' with V=0 D=0 %}
{% if pl_list %}
    <div>現在存在するアカウントの一覧</div>
    <ul>
    {% for pl in pl_list %}
        <li>{{ pl.id_view }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No id are available.</p>
{% endif %}
    <div>ユーザー登録</div>
    <a href="{% url 'pywolf:create_village' %}">ユーザー登録する</a>
    <div>村の作成</div>
    <a href="{% url 'pywolf:create_village' %}">村を作成する</a>
{% if village_list %}
    <div>現在進行中の村</div>
    <ul>
    {% for village in village_list %}
        <li><a href="{% url 'pywolf:village' village.village_no 0 %}">{{ village.village_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No village are available.</p>
{% endif %}
</body>
</html>