<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>蛇狼独立領 村{{village.village_no}} {{village.village_name}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pywolf/standard.css' %}" />
    <link rel="stylesheet" href="{% static 'pywolf/voice_window.css' %}" />
    <link rel="stylesheet" href="{% static 'pywolf/tabs.css' %}" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'pywolf/pywolf.js' %}" ></script>
    <script>
        // 入村時のキャラチップ選択時の画像処理＆自動入力処理
        function selectCharacterChip() {
            var srcs = {};
            {% for c in chips %}
                srcs['{{ c.id }}'] = '{{ c.image_file_path }}:{{ c.image_width }}:{{ c.image_height }}:{{ c.description }}:{{ c.character_name }}';
            {% endfor %}

            var id = $('#entry_character_chip').val();
            var select = srcs[id].split(':');
            $('#entry_character_image').children('img').attr('src', select[0]);
            $('#entry_character_image').children('img')
                .attr('style', 'width:' + select[1] + 'px; height:' + select[2] + 'px');
            $('#entry_description').val(select[3]);
            $('#entry_name').val(select[4]);
        }
    </script>
</head>
<body onload="inputCheck();">
    <a href="{% url 'pywolf:index' %}">トップページに戻る</a>
    {# ログイン・ログアウトフォーム #}
    <div style="text-align:right;">
    {% if login_user %}
        <form action="{% url 'pywolf:logout' village.village_no day_no %}" method="post">
            {% csrf_token %}
            <span>id:{{ login_user }}</span>
            <input type="submit" value="ログアウト">
        </form>
    {% else %}
        <form action="{% url 'pywolf:login' village.village_no day_no %}" method="post">
            {% csrf_token %}
            <input type="text" name="id"/>
            <input type="password" name="password"/>
            <input type="submit" value="ログイン">
        </form>
        <span>{{ login_message }}</span>
    {% endif %}
    </div>

    {# 村名・日数リンク、ページ数リンクなど #}
    <h1>{{village.village_no}} {{village.village_name}}<span style="font-size:11px;">({{village.update_time}}に更新)</span></h1>
    <h2>{{ day_no }}日目</h2>

    {# 発言ログ #}
    {% for voice in voices %}
            {# 表示・非表示の制御 #}
            {% if login_user %}
                {# ログインかつ入村後は、他参加者の発言の種別を見て、表示・非表示を判定 #}
                {% if participant %}
                    {% if voice.village_participant.pl.id_view != login_user %}
                        {# 他参加者の発言 #}
                        {% if voice.voice_type.id == VOICE_TYPE_ID.normal %}
                            {# 通常 #}
                            {% if normal_voice_flg != 0 and normal_voice_flg != 2 %}{% include 'pywolf/voice_window.html' %}{% endif %}
                        {% elif voice.voice_type.id == VOICE_TYPE_ID.wolf %}
                            {# 人狼 #}
                            {% if wolf_voice_flg != 0 and wolf_voice_flg != 2 %}{% include 'pywolf/voice_window.html' %}{% endif %}
                        {% elif voice.voice_type.id == VOICE_TYPE_ID.self %}
                            {# 独り言 #}
                            {% if self_voice_flg != 0 and self_voice_flg != 2 %}{% include 'pywolf/voice_window.html' %}{% endif %}
                        {% elif voice.voice_type.id == VOICE_TYPE_ID.grave %}
                            {# 墓下 #}
                            {% if grave_voice_flg != 0 and grave_voice_flg != 2 %}
                                {% if particant.status != 0 %}{% include 'pywolf/voice_window.html' %}{% endif %}
                            {% endif %}
                        {% elif voice.voice_type.id == VOICE_TYPE_ID.system %}
                            {# システム #}
                            {% include 'pywolf/voice_window.html' %}
                        {% endif %}
                    {% else %}
                        {# 自分の発言はすべて表示 #}
                        {% include 'pywolf/voice_window.html' %}
                    {% endif %}
                {# ログイン後も入村していなければ、強制的に通常発言のみ（エピ除く #}
                {% else %}
                    {% if voice.voice_type.id == VOICE_TYPE_ID.normal %}
                        {% include 'pywolf/voice_window.html' %}
                    {% elif voice.voice_type.id == VOICE_TYPE_ID.system %}
                        {% include 'pywolf/voice_window.html' %}
                    {% endif %}
                {% endif %}
            {% else %}
                {# 非ログイン時は強制的に通常発言のみ（エピ除く #}
                {% if voice.voice_type.id == VOICE_TYPE_ID.normal %}
                    {% include 'pywolf/voice_window.html' %}
                {% elif voice.voice_type.id == VOICE_TYPE_ID.system %}
                    {% include 'pywolf/voice_window.html' %}
                {% endif %}
            {% endif %}
    {% endfor %}

    {% if login_user %}  {# ログインしていれば、発言など入力欄 #}
        {% if progress.village_status == 0 and particant == False %}  {# プロローグで入村前の場合、入村フォーム #}
            <form action="{% url 'pywolf:entry' village.village_no %}" method="post">
                {% csrf_token %}
                <dir>入村フォーム</dir>
                <div>キャラクター：
                    <span id="entry_character_image">
                        <img src="{% static '/chips/noselect.png' %}" />
                    </span>
                    <select name="chip" id="entry_character_chip" onchange="selectCharacterChip();">
                        <option value="">(選択してください)</option>
                        {% for c in chips %}
                        <option value="{{c.id}}">{{c.description}}&nbsp;{{c.character_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <dir><span>肩書</span><input type="text" id="entry_description" name="description" /></dir>
                <dir><span>名前</span><input type="text" id="entry_name" name="name" /></dir>
                <div>希望役職：
                    <select name="wish_position">
                        <option value="">(選択してください)</option>
                        {% for pos in positions %}
                        <option value="{{pos.id}}">{{pos.position_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <dir><span>発言</span><textarea class="voice" style="width:350px; height:150px; background: linear-gradient(135deg, #FFFFFF 60%, #DDDDDD 100%); border: solid 1.5px #222222;" name="voice"></textarea></dir>
                <dir><input type="submit" value="入村します"></dir>
            </form>
        {% elif particant != False %}  {# 入村していれば発言窓を表示 #}
            <span>{{ particant.description }}{{ particant.character_name }}</span>

            {# ★★　要整理！！　★★ #}

            {# プロローグは投票フォームなし、発言は通常と独り言のみ #}

            {% if particant.status == 0 %}  {# 生存していれば地上、だが、投票・能力行使だけを分岐でよいのでは？ #}
                {# 投票フォーム #}
                <form action="{% url 'pywolf:vote' village.village_no day_no %}" method="post">
                    {% csrf_token %}
                    <div>投票先：
                        <select name="vote">
                            <option value="">(選択してください)</option>
                            {% for part in parts %}
                                {% if part.status == 0 %}
                                    <option value="{{part.pl.id_view}}">{{part.character_name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input type="submit" value="投票セット">
                    </div>
                    {% if vote %}<div>現在、{{ vote }}に投票セットされています。</div>{% endif %}
                </form>

                {# 発言欄のタブ方式はやめたい #}
                {# ほかの情報欄（村情報、進行情報、フィルタ）をタブ化したい #}
                <div class="tabs">
                    {% if normal_voice_mode >= 2 %}
                        <input id="normal" type="radio" name="tab_item" checked>
                        <label class="tab_item" for="normal">通常</label>
                    {% endif %}
                    {% if wolf_voice_mode >= 2 %}
                        <input id="wolf" type="radio" name="tab_item">
                        <label class="tab_item" for="wolf">人狼</label>
                    {% endif %}
                    {% if self_voice_mode >= 2 %}
                        <input id="self" type="radio" name="tab_item">
                        <label class="tab_item" for="self">独り言</label>
                    {% endif %}
                    {% if normal_voice_mode >= 2 %}  {# 通常 #}
                    <div class="tab_content" id="normal_content">
                        <div class="tab_content_description">
                            <span style="width: 20%; height:200px; float:left;">
                                <img src="{% static 'pywolf/chips' %}{{particant.chip.image_file_path}}"/>
                            </span>
                            <span style="width: 80%; height:200px;">
                                <form name="voice" action="{% url 'pywolf:confirm' village.village_no day_no %}" method="post">
                                    {% csrf_token %}
                                    <textarea id="voice_input_area" class="voice" style="width:350px; height:150px; background: linear-gradient(135deg, #FFFFFF 60%, #DDDDDD 100%); border: solid 1.5px #222222;" name="voice" oninput="inputCheck();"></textarea></br>
                                    <span><span id="voice_input_number"></span>/200文字 <span id="voice_input_line"></span>/20行</span>
                                    <input type="hidden" name="voice_type" value="{{VOICE_TYPE_ID.normal}}">
                                    <input type="hidden" name="chip_pass" value="{{particant.chip.image_file_path}}">
                                    <input type="submit" name="voice_submit" value="発言">
                                </form>
                            </span>
                        </div>
                    </div>
                    {% endif %}
                    {% if wolf_voice_mode >= 2 %}  {# 人狼 #}
                    <div class="tab_content" id="wolf_content">
                        <div class="tab_content_description">
                            <span style="width: 20%; height:200px; float:left;">
                                <img src="{% static 'pywolf/chips' %}{{particant.chip.image_file_path}}"/>
                            </span>
                            <span style="width: 80%; height:200px;">
                                <form action="{% url 'pywolf:confirm' village.village_no day_no %}" method="post">
                                    {% csrf_token %}
                                    <textarea class="voice" style="width:300px; height:150px; background: linear-gradient(135deg, #d32a2a 25%, #000000 100%); border: solid 1.5px #222222;" name="voice"></textarea></br>
                                    <input type="hidden" name="voice_type" value="{{VOICE_TYPE_ID.wolf}}">
                                    <input type="hidden" name="chip_pass" value="{{particant.chip.image_file_path}}">
                                    <input type="submit" value="発言">
                                </form>
                            </span>
                        </div>
                    </div>
                    {% endif %}
                    {% if self_voice_mode >= 2 %}  {# 独り言 #}
                    <div class="tab_content" id="self_content">
                        <div class="tab_content_description">
                            <span style="width: 20%; height:200px; float:left;">
                                <img src="{% static 'pywolf/chips' %}{{particant.chip.image_file_path}}"/>
                            </span>
                            <span style="width: 80%; height:200px;">
                                <form action="{% url 'pywolf:confirm' village.village_no day_no %}" method="post">
                                    {% csrf_token %}
                                    <textarea class="voice" style="width:300px; height:150px; background: linear-gradient(135deg, #DDDDDD 25%, #555555 100%); border: solid 1.5px #222222;" name="voice"></textarea></br>
                                    <input type="hidden" name="voice_type" value="{{VOICE_TYPE_ID.self}}">
                                    <input type="hidden" name="chip_pass" value="{{particant.chip.image_file_path}}">
                                    <input type="submit" value="発言">
                                </form>
                            </span>
                        </div>
                    </div>
                    {% endif %}
                </div>
            {% else %}
                {% if grave_voice_mode >= 2 %}  {# 墓下 #}
                    <span style="width: 20%; height:200px; float:left;">
                        <img src="{% static 'pywolf/chips' %}{{particant.chip.image_file_path}}"/>
                    </span>
                    <span style="width: 80%; height:200px;">
                        <form action="{% url 'pywolf:confirm' village.village_no day_no %}" method="post">
                            {% csrf_token %}
                            <textarea class="voice" style="width:300px; height:150px; background: linear-gradient(135deg, #7eb1d6 0%, #5f8aaa 41%, #000000 100%); border: solid 1.5px #222222;" name="voice"></textarea></br>
                            <input type="hidden" name="voice_type" value="{{VOICE_TYPE_ID.grave}}">
                            <input type="hidden" name="chip_pass" value="{{particant.chip.image_file_path}}">
                            <input type="submit" value="発言">
                        </form>
                    </span>
                {% endif %}
            {% endif %}
            {% if progress.village_status == 0 and particant != False %}  {# 入村済みでプロローグの場合 #}
                <form action="{% url 'pywolf:entry_cancel' village.village_no %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="村を去る">
                </form>
            {% endif  %}
        {% endif %}
    {% endif %}
</body>
</html>